<html>
<head>
	<title>123</title>
</head>
<body>
<div style="text-align: left;">	
	<div class="up-data-msg" style="margin-top:30px;">
		<div class="car_msg-title" >车辆</div>
	</div>
	{% for car in cars %}
	<p><a class="car-list" href="#"></p>
		<div >
			<div style="font-size:14px;">
				
				<span>{{car.price}}</span>
			</div>
		</div>
		<div>
			<span>{{car.orig}}</span>
			<span>--开往--</span>
			<span>{{car.dest}}</span>
			<p>{{car.ticket}}</p>
		</div>
		
	</a>
	{% endfor %}
</div>
</body>
</html>