<html>
<head>
	<title>注册</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}">
</head>
<body>
<h3 class="page-title">注册</h3>
	<form action="" method="POST" >
		<div class="form-container">
			<div class="form-group" >
				<input type="text" class="form-control" placeholder="手机号码" name="telephone" >
			</div>
			<div class="form-group" >
				<input type="text" class="form-control" placeholder="用户名" name="username">
			</div>		
			<div class="form-group" >
				<input type="password" class="form-control" placeholder="密码" name="password1">
			</div>
			<div class="form-group" >
				<input type="password" class="form-control" placeholder="重复密码" name="password2">
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-block">立即注册</button>
			</div>
		</div> 

	</form>
</body>
</html>